# Dependencies
node_modules
.pnp
.pnp.js

# Environment variables
*.local

# Publish settings
.npmrc

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Editors
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build Outputs
out
build
dist

# Testing
coverage

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
*.log

# Cache
.turbo
.vercel
.npm
.eslintcache
.stylelintcache
*.tsbuildinfo

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Misc
.DS_Store
*.pem
